.idea/
local.properties
gradlew.bat
gradlew
ObserverAllegroItems.iml
.gradle/
gradle.properties
gradle/
settings.gradle
app/build/*

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild